service cloud.firestore {
  match /databases/{database}/documents {
    // Permite la lectura y escritura en la colección "images" sin autenticación
    match /images/{imageId} {
      allow read, write: if true;
    }
  }
}
