service cloud.firestore {
  match /databases/{database}/documents {
    match /alarm_photos/{document=**} {
      allow read, write: if true; // Ajusta según sea necesario
    }
  }
}
