service firebase.storage {
  match /b/{bucket}/o {
    // Permitir la lectura y escritura en el bucket sin autenticación
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
